* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

html, body{
    height: 100vh;
    overflow: hidden;
}
main {
    max-height: 88vh;
}

body {
    display: grid;
    grid-template: 4rem 1fr 2rem / 1fr;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.money {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

article,
#openItemShop,
#openUnitShop {
    width: 100px;
    height: 100px;
}

#openItemShop,
#openUnitShop {
    font-size: 4rem;
}

/*Modular Layouts*/

.mainGridLayout {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.itemStorage,
.openedItemStorage {
    overflow: auto;
}

.itemStorage > section,
.openedItemStorage > section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    gap: 16px;
    padding: 16px;
    border: 0px;
}

.unitStats > header,
.settingMenu > header,
.itemMenu > header,
.openedItemStorage > header {
    display: flex;
    justify-content: flex-end;
}

.itemContainer,
.unitContainer {
    position: relative;
}
.unitContainer > * {
    position: absolute;
    border: none
}
.charLvl {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 80%;
    left: 80%;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.price,
.charPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 84%;
    background-color: lightyellow;
    width: 100px;
    height: 1rem;
}
.price > img,
.charPrice > img {
    height: 1.5rem;
}

.charBody {
    width: 100%;
}
.charFace {
    width: 100%;
}
.charHeadItem {
    bottom: 18%;
    width: 100%;
}
.charRightItem {
    top: 15%;
    left: 22%;
    width: 100%;
}
.charLeftItem {
    top: 15%;
    right: 22%;
    width: 100%;
}

.closeModalBtn {
    align-self: flex-end;
    padding: 2px 10px;
}

.openModalBtn {
    cursor: pointer;
}

.unitStats {
    overflow: auto;
}
.unitStats > section {
    display: grid;
    grid-template: repeat(6, 75px) 1fr / repeat(4, 1fr);
}

.statsUnit {
    grid-area: 1 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statsTag {
    display: flex;
    justify-content: center;
    align-items: center;
}
.statsBar,
.statsSkills {
    grid-column: 2 / 5;
    display: flex;
    align-items: center;
}
.statsSkills {
    margin-bottom: 16px;
}
.statsBar {
    margin-right: 16px;
}
.equipment {
    display: flex;
    justify-content: center;
    align-items: center;
}
.equipment > img{
    width: 100%;
}
.statsHeadItem {
    background-color: mediumaquamarine;
}
.statsFace {
    background-color: lightgoldenrodyellow;
}
.statsLeftItem {
    background-color: lightgrey;
}
.statsRightItem {
    background-color: lightgreen;
}
.statsSkills {
    flex-wrap: wrap;
    gap: 8px;
    flex: none;
}

.bodyBar ,
.faceBar,
.headItemBar,
.rightItemBar,
.leftItemBar,
.spaceBar {
    width: 100px;
    height: 35px;
}
.bodyBar {
    background-color: mediumaquamarine;
}
.faceBar {
    background-color: lightgoldenrodyellow;
}
.headItemBar {
    background-color: lightgrey;
}
.rightItemBar {
    background-color: lightgreen;
}
.leftItemBar {
    background-color: lightcoral;
}
.spaceBar {
    border: 1px solid black;
}

.surpriseAttack,
.turtleTactics,
.heavy {
    color: white;
    background-color: darkblue;
    padding: 4px;
    cursor: pointer;
}

/*Modifiers*/
.ocuppyAllRows {
    grid-row: -1 / 1;
}
.ocuppyAllColumns {
    grid-column: -1 / 1;
}
.invisible {
    display: none;
}

.itemContainer > img {
   transform: scale(1.5);
}

.price {
    position: absolute;
}

/*style*/
body > header,
footer {
    background-color: greenyellow;
}
article {
    background-color: lightsalmon;
}
main > section:nth-child(1) {
    background-color: blue;
}
main > section:nth-child(2) {
    background-color: lightblue;
}
main > section:nth-child(3) {
    background-color: lightcoral;
}