* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

html, body, main{
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: grid;
    grid-template: 1fr 2em / 1fr 1fr;
    height: 80%;
    width: 90%;
    justify-items: center;
}

#container > form {
    width: 90%;
    height: 100%;
}
#container > form > h1 {
    font-size: 6em;
}
#container > form > input {
    width: 100%;
    height: 2em;
    font-size: 2em;
}
#container > form > button {
    width: 60%;
    height: 2em;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: start;
}

/*Dialog*/

dialog {
    width: 600px;
    margin: auto
}
dialog > form{
    height: 200px;
    padding-bottom: 24px;
}

dialog input, dialog button{
    font-size: 1.2em;
}

dialog input {
    width: 90%;
}


/*Classes*/
.ocuppyAll {
    grid-column: -1 / 1;
}

.closeModalBtn {
    align-self: flex-end;
    padding: 2px 10px;
}

.openModalBtn {
    cursor: pointer;
}